Options -Indexes
<IfModule mod_headers.c>
    Header unset X-Frame-Options
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
</IfModule>
<IfModule mod_mime.c>
    AddType application/pdf .pdf
</IfModule>
