@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-ext-400-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-ext-400-normal.woff') format('woff');
    unicode-range: U+0100-024F;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-400-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-400-normal.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-ext-500-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-ext-500-normal.woff') format('woff');
    unicode-range: U+0100-024F;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-500-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-500-normal.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-ext-600-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-ext-600-normal.woff') format('woff');
    unicode-range: U+0100-024F;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-600-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-600-normal.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-ext-700-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-ext-700-normal.woff') format('woff');
    unicode-range: U+0100-024F;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-700-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-700-normal.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-ext-800-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-ext-800-normal.woff') format('woff');
    unicode-range: U+0100-024F;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/inter/inter-latin-800-normal.woff2') format('woff2'), url('../fonts/inter/inter-latin-800-normal.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/orbitron/orbitron-latin-900-normal.woff2') format('woff2'), url('../fonts/orbitron/orbitron-latin-900-normal.woff') format('woff');
    unicode-range: U+0000-00FF;
}
